CommunityGarden.xcodeproj/project.xcworkspace/xcuserdata/oliviasun.xcuserdatad/
CommunityGarden.xcodeproj/xcuserdata/oliviasun.xcuserdatad/
CommunityGarden.xcworkspace/xcuserdata/nikhilbh.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
CommunityGarden/.DS_Store
../.DS_Store